<div class="row">
  <% articles.each_with_index do |article, index| %>
    <%=
      render 'card',
        url: article.url,
        title: article.title,
        description: article.description,
        image_url: article.image_url,
        author_name: article.author_name,
        highlighted: query,
        tags: []
    %>
  <% end %>

  <%= yield %>
</div>

<div class="row center-align">
  <%= will_paginate(articles, renderer: WillPaginateRenderers::ListRenderer) %>
</div>
