<div class="row">
  <% @articles.each_with_index do |article, index| %>
    <%=
      render 'card',
        url: article.url,
        title: article.title,
        description: article.description,
        image_url: article.image_url,
        highlighted: @word,
        tags: []
    %>
  <% end %>

  <% if @articles.empty? %>
    <div id="empty-result">
      <div class="card-panel waves-effect waves-dark purple darken-4">
        <span class="white-text">Nenhum resultado encontrado</span>
      </div>
    </div>
  <% end %>
</div>
