<%= render 'card_list', articles: @articles, query: @query do %>
  <% if @articles.empty? %>
    <div id="empty-result">
      <div class="card-panel waves-effect waves-dark purple darken-4">
        <span class="white-text">Nenhum resultado encontrado</span>
      </div>
    </div>
  <% end %>
<% end %>
