<div class="row" data-favorite-url="<%= favorites_path %>">
  <% articles.each_with_index do |article, index| %>
    <%=
      render 'shared/card',
        id: article.id,
        author: article.author,
        channel: article.channel.name,
        collection: collection,
        description: article.description,
        favorited: !!current_user&.favorited?(article),
        highlighted: query,
        image_url: article.image_url,
        tags: article.tags_to_display,
        title: article.title,
        url: article.url,
        created_at: article.created_at
    %>
  <% end %>
</div>

<% if articles.empty? %>
  <div id="empty-result">
    <div class="card-panel waves-effect waves-dark purple darken-4">
      <span class="white-text">Nenhum resultado encontrado</span>
    </div>
  </div>
<% end %>

<div class="row center-align">
  <%= will_paginate(articles, renderer: WillPaginateRenderers::ListRenderer) %>
</div>
