.article-card {
  box-shadow: 3px 3px 20px #000;
  background-color: $card-background-color;
  color: $card-color;

  .card-action a {
    color: $card-color !important;
  }

  .card-image {
    height: 150px;
    border-bottom: 1px solid #eee;
  }
}

.card .card-content .card-title {
  line-height: 1;
  margin-top: 25px;
  display: block;
}

.card-content {
  background-color: #fff;
  overflow: hidden;

  a {
    color: $card-color;
  }

  img {
    background-color: #fff;
  }

  @media only screen and (min-width: 993px) {
    height: 220px;

    .card-description {
      height: 145px;
      overflow: scroll;
      margin-top: 15px;
    }
  }
}

.card-author {
  float: right;
}

.highlight {
  background-color: $card-background-color;
}

#empty-result {
  width: 100%;
  text-align: center;
  margin-top: 50px;

  .card-panel {
    width: 65%;
    border-radius: 10px;
  }
}

.card-tags {
  background-color: #fff;
  padding: 5px;
  min-height: 47px;
}

.card-profile-image {
  width: 70px;
  position: absolute;
  top: 110px;
  z-index: 1;
  cursor: pointer;
  border: 2px solid #ccc;
  box-shadow: 2px 0px 18px 4px $card-avatar-shadow;
}

.card-created-at {
  position: absolute;
  top: 6px;
  right: 0;
}

.posted-on {
  margin-top: 20px;
  position: relative;

  img {
    position: absolute;
    top: 4px;
  }

  span {
    margin-left: 18px;
  }
}
