.favorited {
  color: $favorite-color;
}

.favorite-container {
  position: absolute;
  right: 10px;
  top: 150px;
  font-size: 24px;

  i {
    cursor: pointer;
  }

  &:hover {
    .fa-heart-o:before {
      color: $favorite-color;
    }
  }
}

.favorites-title {
  margin-left: 10px;

  .fa {
    color: $favorite-color;
  }
}
