.sign_in_with_slack_button {
  background-image: image-url('sign_in_with_slack.png');
  background-size: 172px 40px;
  background-position: center;
  width: 172px;
  height: 40px;
  margin: 10px;

  position: absolute;
  top: 2px;
  right: -25px;
}
