<li class="link">
  <%= link_to favorites_path do %>
    <%= fa_icon('heart') %> Favorites
  <% end %>
</li>
<li class="link">
  <%= link_to signout_path do %>
    <i class="material-icons">settings_power</i>Sair
  <% end %>
</li>
