<div id="sign-user" class="hide-on-med-and-down">
  <% if current_user %>
    <a href="javascript:;" data-activates="slide-out"
      data-hover="false" data-constrainwidth="false" data-alignment="bottom" data-beloworigin="true">
      <%= image_tag(current_user.avatar_url, class: 'responsive-img activator current-user-avatar')  %>
    </a>
  <% else %>
    <%= link_to '/auth/slack' do %>
      <div class="sign_in_with_slack_button"></div>
    <% end %>
  <% end %>
</div>
